name: Test single

on:
    push:

jobs:
    prepare:
        runs-on: ubuntu-latest

        environment: troodon

        outputs:
            lib: ${{ steps.diff-files.outputs.test }}
            test: ${{ steps.diff-files.outputs.test }}

        steps:
            - name: Checkout code
              uses: actions/checkout@v6
              with:
                  fetch-depth: 2

            - name: Only solution files
              id: diff-files
              run: |
                  LIB=$(git diff HEAD~ --name-only | grep lib || echo)
                  PARTIALTEST=${LIB/lib/test}
                  TEST=${PARTIALTEST/.ex/_test.exs}

                  echo "lib=$LIB" >> $GITHUB_OUTPUT
                  echo "test=$TEST" >> $GITHUB_OUTPUT

    build:
        runs-on: ubuntu-latest

        environment: troodon

        strategy:
            matrix:
                elixir: [latest]
                otp: [latest]

        needs: prepare

        if: needs.prepare.outputs.lib != ''

        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Dump
              uses: actions/github-script@v8
              env:
                  VARS_JSON: ${{ toJSON(vars) }}
              with:
                  script: |
                      let values = JSON.parse(process.env.VARS_JSON)
                      for (let key in values) core.exportVariable(key, values[key])

            - name: Set up Elixir
              uses: erlef/setup-beam@v1
              with:
                  elixir-version: ${{ matrix.elixir }}
                  otp-version: ${{ matrix.otp }}

            - name: Install session
              run: echo $SESSION > .session
              env:
                  SESSION: ${{ secrets.session }}

            - name: Install dependencies
              run: mix deps.get

            - name: Tests
              run: mix test ${{ needs.prepare.outputs.test }}

            - name: Credo
              run: mix credo ${{ needs.prepare.outputs.lib }}

            - name: Dialyzer
              run: mix dialyzer
